body {
    background-color: #462e6a;
    font-family: "Caveat", sans-serif;
}

a {
    color: #462E6A;
}

.weather-app {
    background: #938cb5;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button {
    background: #462e6a;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}

main {
    padding: 30px 0;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #23132b;
}

.weather-app-city {
    margin: 0;
    font-size: 75px;
    line-height: 75px;
    font-weight: bold;
    font-family: "Caveat", cursive;
    color: #23132b;
}

/* Styling for time, description, humidity, and wind-speed with differentiated colors */
#time {
    font-size: 24px;
    /* Larger font size */
    color: #885df1;
    /* A purple color for time to differentiate */
    line-height: 30px;
    font-weight: 600;
    margin-top: 10px;
}

#description {
    font-size: 24px;
    /* Same size for consistency */
    color: #faa6bf;
    /* A pink shade for conditions */
    line-height: 30px;
    font-weight: 600;
    margin-top: 10px;
}

#humidity {
    font-size: 24px;
    color: #42b883;
    /* A green color for humidity */
    line-height: 30px;
    font-weight: 600;
    margin-top: 10px;
}

#wind-speed {
    font-size: 24px;
    color: #f65282;
    /* A red/pink color for wind speed */
    line-height: 30px;
    font-weight: 600;
    margin-top: 10px;
}

.weather-app-temperature-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.weather-app-icon {
    font-size: 44px;
    width: 88px;
    height: 88px;
    margin-bottom: 10px;
}

.weather-app-temperature {
    font-size: 80px;
    font-weight: 300;
    color: #23132b;
}

.weather-app-unit {
    font-size: 28px;
    margin-top: 5px;
    color: #23132b;
}

footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
    .weather-app-city {
        font-size: 60px;
    }

    .weather-app-temperature-container {
        flex-direction: column;
        align-items: center;
    }

    .weather-app-temperature {
        font-size: 64px;
        line-height: 64px;
    }

    .weather-app-icon {
        font-size: 64px;
    }
}